


    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Out<br>Out of the closet, out of home...<br>Be safe!</div>

                <a href="#adopta" class="page-scroll btn btn-xl">Regístrate</a>
            </div>
        </div>
    </header>


    <section id="adopta" class="bg-light-gray">
        <div class="container">
            <div class="row flex-container">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Anfitriones</h2>
                    <h3 class="section-subheading text-muted">Únete y se parte de la comunidad</h3>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <h3>¿Qué hace un anfitrión?</h3>
                        <p class="derecha columnaderecha">
                        Las personas con diferentes preferencias sexuales hoy en día son rechazadas y discriminadas.<br>
                        Al ser anfitrión abres la puerta de tu casa a alguien de esta comunidad a cambio de una maravillosa expriencia.</li>

                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h3>¿Que nesecisto para ser anfitrión?</h3>
                         <ul class="list-unstyled derecha columnaizquierda">
                            <li>Crear tu anuncio </li>
                            <li>Publicar tu anuncio</li>
                            <li>Responer a tus solicitudes</li>
                            <li>Espacio óptimo para el huesped</li>
                            <li>Recomendaciones o calificaciones de personas cercanas</li>


                        </ul>
                    </div>
                </div>
                        <h3><a href="#donde">Quiero ser anfitrión</a></h3>
                </div>
            </div>
        </div>
    </section>


    <section id="rescata" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conócenos</h2>
                    <h3 class="section-subheading text-muted">¿Que somos y hacemos?</h3>
                    <div class="row" >
                        <div class="col-xs-12 col-md-6 columnaizquierda">
                            <h3>La problemática</h3>
                            <p class="derecha">
                            Out nace como una necesidad de las personas con preferencias sexuales diferentes al notar la falta de opciones para hospedarse (no en hoteles comerciales) al momento de viajar.

                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6 columnaderecha">
                            <h3>¿Que hacemos?</h3>
                            <p class="derecha">
                            Somos una empresa que facilita y brinda mas opciones a esta comunidad en específico para hospedarse fuera, ayudando así a reducir el índole de violencia ultimamente presentado y concientizando a las demás personas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Reservar</h2>
                    <h3 class="section-subheading text-muted"><b>Selecciona el estado que deseas visitar</b><br>Ahí encontraras las opciones que están más cerca de ti.</h3>
                </div>
                <ul class="list-inline" >
                    <li><input type="text" class="form-control" placeholder="Selecciona el lugar"> </li>
                    <li><input type="text" class="form-control" placeholder="Día de llegada"></li>
                    <li><input type="text" class="form-control" placeholder="Día de salida"></li>
                    <li><input type="text" class="form-control" placeholder="Número de personas"></li>
                    <h3><a href="#">Buscar</a></h3>
                </ul>

        <section id="centro" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Únete a la comunidad</h2>
                    <h3 class="section-subheading text-muted">Aveces podemos apoyar con más de lo que pensamos</h3>
                    <ol class="derecha letraM">
                    <li>
                        Simplemente si tienes un espacio pequeño que se pueda adaptar a las necesidades del huesped</li>
                    <li>
                        Aveces la gente suele ser desconfiada, así que te requeriremos una recomendación de alguién cercano para poder ser anfitrión.
                    </li>
                    <li>
                        También puedes recomendar personas que cumplan con lo antes mencionado.
                    </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>


        <section id="anuncio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Síguenos</h2>
                    <ul class="list-inline intro-social-buttons animated fadeInLeft retraso3">
                <li>
                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                </li>
                </ul>
                </div>


                </div>
            </div>
        </div>
    </section>


    <section id="registrate"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Genera una recomendación</h2>
                </div>
                <div id="formulario">
                    <form role="form">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" >
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre de la persona</label>
                            <input type="text" class="form-control" id="nombre" >
                        <div class="form-group">
                        <div class="form-group">
                            <label for="mensaje">Localizacion</label>
                            <textarea id="mensaje" class="form-control" rows="4"></textarea>
                        </div>
                        </div>
                        <center><button type="submit" class="btn btn-warning">Enviar</button></center>
                    </form>
                </div>
            </div>
        </div>
    </section>
