// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";

body {padding-top: 50px;}
body.home.index {padding-top: 0px;}
body.sessions.new {
  nav.navbar.navbar-default {display: none;}
  .well {background-color: #ffffff;}
  footer {display: none;}
}
